@font-face {
    font-family: Blade;
    src: url(../assets/static/fonts/BLADRMF.TTF);
}

@font-face {
    font-family: Victor;
    src: url(../assets/static/fonts/VictorMono.ttf);
}

@font-face {
    font-family: Bak;
    src: url(../assets/static/fonts/BakbakOne-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/* CONTENT */

body {
    background-color: black;
}

/* CONTAINER-1 */

.container-1 {
    height: 100vh;
    width: 100%;
    background-image: url(../assets/static/img/ct-1-gallery-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title{
    text-shadow: 5px 5px 20px rgba(255, 255, 255, 0.2);
    padding: 10%;
    box-sizing: border-box;
    gap: 20%;
}

/* CONTAINER-2 */

.container-2 {
    margin: 10% 0 10% 0;
    z-index: 2;
  }
  
  .container-2 body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .gallery-container {
    columns: 3 500px;
    column-gap: 2rem;
    width: 90%;
    margin: 0 auto;
  }
  
  .gallery-container div {
    width: 150px;
    margin: 0 12px 15px 0;
    display: inline-block;
    width: 100%;
    padding: 0;
    border-radius: 5px;
    transition: all 0.25s ease-in-out;
  }
  
  .gallery-container div:hover img {
    filter: grayscale(0);
  }
  
  .gallery-container div img {
    width: 100%;
    filter: grayscale(100%);
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
  }